<!DOCTYPE html>
<html>
<head>
  {% load static%}
  <link rel="stylesheet" href="{%static 'style.css'%}">
    <title>Device Stats</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Interface</th>
                <th>Rx Unicast Packets</th>
                <th>Rx Octets</th>
                <!-- Add more table headers as needed -->
            </tr>
        </thead>
        <tbody>
            {% for interface, stats in device_stats.items %}
                <tr>
                    <td>{{ interface }}</td>
                    <td>{{ stats.rx_unicast_packets }}</td>
                    <td>{{ stats.rx_octets }}</td>
                    <!-- Add more table cells as needed -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
