<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network Controller</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style2.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css">
    
</head>

<body class="index">
    <section class="header">
        <nav>
            <div class="nav-links">
                <i class="fa fa-times"></i>
                <ul>
                    <li><a href="{% url 'manage' %}">Devices</a></li>
                    <li><a href="{% url 'manage2' %}">Statistics</a></li>
                    <li><a href="{% url 'manage3' %}">Interface Statistics</a></li>
                    
                    <li><a href="{% url 'manage4' %}">Running config</a></li>
                    <li><a href="{% url 'manage5' %}">Backup</a></li>
                    <li><a href="login.html">Under Construction</a></li>
                </ul>
            </div>
            <i class="fa fa-bars"></i>
        </nav>
    
        <div class="text-box">
            <h1>Welcome to our Network Controller</h1>
            
        </div>
    </section>
</body>
</html>