<!DOCTYPE html>
<html>
<head class="second">
    <meta name="viewport" content="with=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="style2.css">
    <link rel="stylesheet" href="sthttps://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css">
</head>

<body class="second">
    <br><br><br>
    <br><br><br>
    <h1 class="second" style="text-align:center;">We want our customers to have a wonderful experience travelling with us</h1>
    <br><br><br>
    <br>
    <p style=" font-size:15pt; text-align:center;">Aegean Airlines is the largest airline in Greece and the country's national carrier. It was founded in 1987 as Aegean Aviation and has its base at Athens International Airport "Eleftherios Venizelos", while it uses as its secondary bases Thessaloniki State Airport "Macedonia" and Larnaca International Airport.</p>

</body>
</html>