<!DOCTYPE html>
<html>
<head>
    <title>GNS3 Topology</title>
    <style>
        .device {
            width: 100px;
            height: 50px;
            background-color: #ccc;
            border: 1px solid #000;
            position: absolute;
        }
    </style>
</head>
<body>
    <h1>GNS3 Topology</h1>
    
    {% for device in topology_data.nodes %}
        <div class="device" style="top: {{ device.y }}px; left: {{ device.x }}px;">
            {{ device.name }}
        </div>
    {% endfor %}
</body>
</html>